<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="sentiment">
        <p><span class="bold">Number of Positive Posts: </span>{{ sentiment.positive }}</p>
        <p><span class="bold">Number of Neutral Posts: </span>{{ sentiment.neutral }}</p>
        <p><span class="bold">Number of Negative Posts: </span>{{ sentiment.negative }}</p>
    </div>
</body>
</html>